* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #8ca19e;
  text-align: center;
  /* color: white; */
}
::placeholder {
  color: rgb(250, 249, 249);
  opacity: 1; /* Firefox */
}

.header {
  background: rgba(0, 0, 0, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 30rem;
  text-align: center;
  color: aqua;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 30rem;
  font-size: 2rem;
  font-display: auto;
  font-variant: small-caps;
}

.header :hover{
  color: #FF5F15;
}
#form {
  background: rgba(32, 76, 57, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12.5px);
  -webkit-backdrop-filter: blur(12.5px);
  border-radius: 10px;
  border: 1px solid white;
  /* color: aqua; */
  font-size: 18px;
  font-weight: 600;
  /* background-color:transparent; */
  margin-top: 5rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 25%;
  padding: 30px 20px;
  /* box-shadow: 3px .3px 15px 8px rgba(115, 219, 10, 0.5); */
}
.form-control {
  flex-wrap: wrap;
  text-align: left;
  margin-bottom: 25px;
  border-width: 2rem;
}
.form-control label {
  display: block;
  margin-top: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #12ffd4;
  background-color: transparent;
  color:black;
  border-radius: 2rem;
  font-family: "Times New Roman", Times, serif;
  padding: 10px;
  margin-top: 0.4rem;
  margin-left: 10px;
  display: block;
  width: auto;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-left: 2rem;
  justify-content: space-between;
}

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 345px;
  height: 50px;
}

.button a {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: #8fb6ab;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  color: black;
  text-decoration: wavy;
  z-index: 1;
  overflow: hidden;
}
.button a:hover {
  color: #8fb6ab;
}

.button a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: black;
  background-color: #00abf0;
  z-index: -1;
  transition: 0.1s;
}

.button a:hover::before {
  width: 100%;
}
